<EditForm Model="@dev" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name :</label>
        <div>
            <InputText @bind-Value="@dev.Name" />
            <ValidationMessage For="@(() => dev.Name)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        Добавить
    </button>
</EditForm>